################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeApp/FileContentIndex/0f839ee6-b089-4ed1-b2e8-00c77fc77f63.vsidx
/.vs/EmployeeApp/FileContentIndex
/.vs/EmployeeApp/DesignTimeBuild/.dtbcache.v2
